<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myharbour.dao.CargoMapper">
    <resultMap id="cargo" type="cargo">
        <id property="cargoId" column="cargo_id"/>
        <result property="userId" column="user_id"/>
        <result property="cargoTypeId" column="cargo_type_id"/>
        <result property="gross" column="gross"/>
        <result property="containerId" column="container_id"/>
        <result property="valid" column="valid"/>
    </resultMap>
    <resultMap id="cargoInfo" type="resultantcargoinfo">
        <association property="cargo" javaType="com.myharbour.pojo.Cargo">
            <id property="cargoId" column="1_cargo_id"/>
            <result property="userId" column="1_user_id"/>
            <result property="cargoTypeId" column="1_cargo_type_id"/>
            <result property="gross" column="1_gross"/>
            <result property="containerId" column="1_container_id"/>
            <result property="valid" column="1_valid"/>
        </association>
        <association property="cargoAttr" javaType="com.myharbour.pojo.CargoAttr">
            <id property="cargoTypeId" column="2_cargo_type_id"/>
            <result property="cargoName" column="2_cargo_name"/>
            <result property="containerType" column="2_container_type"/>
            <result property="unitType" column="2_unit_type"/>
            <result property="valid" column="2_valid"/>
        </association>
    </resultMap>
    <select id="getCargos" resultMap="cargo">
        SELECT * FROM cargo_table WHERE valid = 1
        <if test="cargoId != null">
            AND cargo_id = #{cargoId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="cargoTypeId != null">
            AND cargo_type_id = #{cargoTypeId}
        </if>
        <if test="gross != null">
            AND gross = #{gross}
        </if>
        <if test="containerId != null">
            AND container_id = #{containerId}
        </if>
    </select>
    <select id="getResultantCargoInfoBySpecificParas" resultMap="cargoInfo">
        SELECT
        cargo_table.cargo_id AS 1_cargo_id,
        cargo_table.user_id AS 1_user_id,
        cargo_table.cargo_type_id AS 1_cargo_type_id,
        cargo_table.gross AS 1_gross,
        cargo_table.container_id AS 1_container_id,
        cargo_table.valid AS 1_valid,
        cargo_attr_table.cargo_type_id AS 2_cargo_type_id,
        cargo_attr_table.cargo_name AS 2_cargo_name,
        cargo_attr_table.container_type AS 2_container_type,
        cargo_attr_table.unit_type AS 2_unit_type,
        cargo_attr_table.valid AS 2_valid
        FROM cargo_table, cargo_attr_table
        WHERE
        cargo_table.cargo_type_id = cargo_attr_table.cargo_type_id
        AND cargo_table.valid = 1 AND cargo_attr_table.valid = 1
        <if test="containerId != null">
            AND container_id = #{containerId}
        </if>
        <if test="containerType != null">
            AND container_type = #{containerType}
        </if>
    </select>
    <select id="getInvalidCargos" resultMap="cargo">
        SELECT * FROM cargo_table WHERE valid = 0
        <if test="cargoId != null">
            AND cargo_id = #{cargoId}
        </if>
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="cargoTypeId != null">
            AND cargo_type_id = #{cargoTypeId}
        </if>
        <if test="gross != null">
            AND gross = #{gross}
        </if>
        <if test="containerId != null">
            AND container_id = #{containerId}
        </if>
    </select>

    <select id="getCargoById" resultMap="cargo">
        SELECT *
        FROM cargo_table
        WHERE valid = 1 AND cargo_id = #{id}
    </select>

    <insert id="insertCargo" parameterType="cargo">
        INSERT INTO cargo_table VALUES (#{cargoId}, #{userId}, #{cargoTypeId}, #{gross}, #{containerId}, 1)
    </insert>

    <update id="updateCargo" parameterType="cargo">
        UPDATE cargo_table
        <trim prefix="SET" prefixOverrides=",">
            <if test="userId != null">
                , user_id = #{userId}
            </if>
            <if test="cargoTypeId != null">
                , cargo_type_id = #{cargoTypeId}
            </if>
            <if test="gross != null">
                , gross = #{gross}
            </if>
            <if test="containerId != null">
                , container_id = #{containerId}
            </if>
            <if test="valid != null">
                , valid = #{valid}
            </if>
        </trim>
        WHERE cargo_id = #{cargoId}
    </update>

    <update id="updateCargoToInvalidByContainerId" parameterType="int">
        UPDATE cargo_table
        SET valid = 0
        WHERE container_id = #{containerId}
    </update>
</mapper>