<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myharbour.dao.UserMapper">

    <select id="getUsers" resultType="user" parameterType="user">
        SELECT user_id AS userId ,user_password AS password ,user_email AS email FROM
        <choose>
            <when test="type == 1">
                operator_user_table
            </when>
            <when test="type == 2">
                shipper_user_table
            </when>
            <when test="type == 3">
                admin_user_table
            </when>
        </choose>
        WHERE valid = 1
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="password != null">
            AND user_password = #{password}
        </if>
        <if test="email != null">
            AND user_email = #{email}
        </if>
    </select>

    <insert id="insertUser" parameterType="user">
        INSERT INTO
        <choose>
            <when test="type == 1">
                operator_user_table
            </when>
            <when test="type == 2">
                shipper_user_table
            </when>
            <when test="type == 3">
                admin_user_table
            </when>
        </choose>
        VALUES (#{userId}, #{password}, #{email},1)
    </insert>

    <update id="updateUser" parameterType="user">
        UPDATE
        <choose>
            <when test="type == 1">
                operator_user_table
            </when>
            <when test="type == 2">
                shipper_user_table
            </when>
            <when test="type == 3">
                admin_user_table
            </when>
        </choose>
        SET user_id = #{userId},user_password = #{password},user_email = #{email},valid = #{valid}
        WHERE user_id = #{userId}
    </update>
</mapper>